@font-face {
  font-family: agremyn;
  src: url(../fonts/agremyn.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

*:focus {
  outline: 0 !important;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  font-family: agremyn;
  padding-left: 10px;
  padding-right: 10px;
}

.logoDiv {
  margin-top: 50px;
  text-align: center;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.logo img {
  width: 50px;
  margin-top: 10px;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50%;
  margin-top: -5px;
}

.name {
  width: 150px;
  height: 35px;
  margin-left: -25px;
  display: flex;
  align-items: center;
  justify-content: center !important;
  background: #dcecef;
}

.name p {
  margin-top: 12px;
  margin-left: 10px;
}

.fa-user {
  color: grey;
  font-size: 120%;
}

.fa-comment {
  color: grey;
  font-size: 28px;
  margin-right: -10px;
}
.go_back {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: #989ca1;
  width: 20px;
  padding: 0;
  margin-top: 10px;
}

.go_back p {
  margin-top: 10px;
  margin-left: 5px;
  font-weight: bold;
}

.contact_title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.contactForm input,
textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dedede;
  margin-top: 30px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
textarea {
  border: 1px solid #dedede;
}
.contactForm input::placeholder,
textarea::placeholder {
  color: #c1c4c8;
  font-size: 16px;
}

.contact {
  background: #f57f80;
  width: 100%;
  height: 50px;
  margin-top: 40px;
  border-radius: 0;
  color: white;
}

@media only screen and (min-width: 280px) {
  .name {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 900px) {
  .text {
    margin-top: 50px;
  }
  body {
    padding: 0 40px 0 40px;
  }
}
